@model Common.DTOs.ItemDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItemModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ItemPhoto[0].Location" class="control-label">Location</label>
                <input name="ItemPhoto[0].Location" class="form-control" />
                <span name="ItemPhoto[0].Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ItemPhoto[0].CreatedBy" class="control-label">Created By</label>
                <input name="ItemPhoto[0].CreatedBy" class="form-control" />
                <span name="ItemPhoto[0].CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ItemPhoto[0].CreatedDate" class="control-label">Created Date</label>
                <input name="ItemPhoto[0].CreatedDate" class="form-control" />
                <span name="ItemPhoto[0].CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOutOfStock" /> @Html.DisplayNameFor(model => model.IsOutOfStock)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
