@model Common.DTOs.MenuCategoryDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MenuCategoryDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArchivedBy" class="control-label"></label>
                <input asp-for="ArchivedBy" class="form-control" />
                <span asp-validation-for="ArchivedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArchivedDate" class="control-label"></label>
                <input asp-for="ArchivedDate" class="form-control" />
                <span asp-validation-for="ArchivedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Location" class="control-label">location</label>
                <input name="MenuCategoryPhoto[0].Location" class="form-control" />
            </div>
            <div class="form-group">
                <label for="MenuCategoryPhoto[0].CreatedBy" class="control-label">Created By</label>
                <input name="MenuCategoryPhoto[0].CreatedBy" class="form-control" />
                @*<span asp-validation-for="MenuCategoryPhoto[0].CreatedBy" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label for="MenuCategoryPhoto[0].CreatedDate" class="control-label">Created Date</label>
                <input name="MenuCategoryPhoto[0].CreatedDate" class="form-control" />
                @*<span asp-validation-for="MenuCategoryPhoto[0].CreatedDate" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
