@model Common.DTOs.MenuDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MenuModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="MenuId" class="control-label"></label>
                <input asp-for="MenuId" class="form-control" />
                <span asp-validation-for="MenuId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="StoreId" class="control-label"></label>
                <input asp-for="StoreId" class="form-control" />
                <span asp-validation-for="StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishStateTime" class="control-label"></label>
                <input asp-for="PublishStateTime" class="form-control" />
                <span asp-validation-for="PublishStateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishEndTime" class="control-label"></label>
                <input asp-for="PublishEndTime" class="form-control" />
                <span asp-validation-for="PublishEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ArchivedBy" class="control-label"></label>
                <input asp-for="ArchivedBy" class="form-control" />
                <span asp-validation-for="ArchivedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ArchivedDate" class="control-label"></label>
                <input asp-for="ArchivedDate" class="form-control" />
                <span asp-validation-for="ArchivedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
